<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Genaker\SalesGroup\Api\SalesGroupRepositoryInterface" type="Genaker\SalesGroup\Model\SalesGroupRepository"/>
	<preference for="Genaker\SalesGroup\Api\Data\SalesGroupInterface" type="Genaker\SalesGroup\Model\Data\SalesGroup"/>
	<preference for="Genaker\SalesGroup\Api\Data\SalesGroupSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
</config>
